.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: $black-text;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.web-title {
  color: $active-blue;
}
/* site nav */

.site-nav {
  margin-left: 86px;
  display: flex;

  .item:not(:last-child) {
    margin-right: 50px;
  }
  .link.current,
  .link:hover,
  .link:focus {
    color: $active-blue;
  }
}

.site-nav .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-top: 32px;
  color: $black-text;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link.current::after {
  content: "";
  display: flex;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  margin-top: 28px;

  background-color: $active-blue;
}

.symbol-icon {
  margin-right: 10px;
}

.adrs {
  display: flex;
}

.contact {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $gray-text;
  fill: $gray-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact:hover,
.contact:focus {
  color: $active-blue;
  fill: $active-blue;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.items {
  margin-left: 50px;
}

.list .item:not(:last-child) {
  margin-right: 50px;
}
